<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="./fonts/static">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="buttons">
            <button class = "nav_left_buttons">Главная</button>
            <button class = "nav_left_buttons">Услуги</button>
        </div>
        <img src="./images/logo.png" alt="" width = "128px">
        <div class="buttons">
            <button class = "nav_left_buttons">Обо мне</button>
            <button class = "nav_left_buttons">Контакты</button>
        </div>
    </nav>
    <div class="main">
        <div class="top">
            <div class="top-left">
                <h1>Фокин Артем</h1>
                <h3>Веб-разработчик</h3>
            </div>
            <div class="top-center">
                <img src="./images/top-image.jpg" alt="" style="margin-bottom: -11px;">
            </div>
            <div class="top-right">
                <h1>Услуги:</h1>
                <h3>Сайты-визитки:</h2>
                <ul>
                    <li>500 руб - одностраничный сайт-визитка человека</li>
                    <li>1000 руб - многостраничный сайт-визитка человека</li>
                    <li>1500 руб. - многостраничный сайт-визитка вашего бизнеса</li>
                </ul>
                <h3>Онлайн-магазин:</h3>
                <ul>
                    <li>500 руб - простой онлайн-магазин(пару штук постоянных товаров)</li> 
                    <li>1000 руб - онлайн-магазин(100-300 товаров)</li>
                    <li>1500 руб - большой онлайн-магазин(более 400 товаров)</li>
                </ul>
                <h3>Дополнительно:</h3>
                <ul>
                    <li>50 руб - корзина</li>
                    <li>150-300 руб(зависит от предназнач.) - панель админа</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="features">
        <div class="feature-block">
            <img src="./images/faster.jpg" alt="" height = "128px">
            <h2>Быстро</h2>
            <h4>Я сделаю ваш заказ в кратчайшие сроки, при этом с таким-же дизайном, который вы захотите.</h4>
        </div>
        <div class="feature-block">
            <img src="./images/beauty.jpg" alt="" height = "128px">
            <h2>Красиво</h2>
            <h4>Я сделаю ваш сайт красиво, и только по вашим желаниям</h4>
        </div>
        <div class="feature-block">
            <img src="./images/support.jpg" alt="" height = "128px">
            <h2>Отзывчивость</h2>
            <h4>Бытро отвечаю на ваши вопросы и заказы. Всегда смогу послушать ваши пожелания по поводу сайта.</h4>
        </div>
        <img src="./images/feature-arrow.jpg" alt="" height = "128px" style = "margin-top: 120px;">
    </div>
    <footer>

    </footer>
</body>
</html>